* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.sidebar {
    background-color: #1b1b1b;
    position: fixed;
    top: 0
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    padding: 50px;
    overflow: scroll;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.sidebar_header {
    background-color: #461e25; 
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: lightblue 2px solid;
}

.sidebarmenu_title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

li {
    list-style: none;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.sidebav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
